<%= form_for(comment) do |f| %>
  <div class="form-body">

    <div class="errors">
      <% if comment.errors.present? %>
        <ul>
          <% comment.errors.full_messages.each do |msg| %>
            <li id="error"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= f.text_area :text, id: "textarea", autofocus: "true"  %>
    <%= f.submit "Post", class: "post-button"%>
    <sub class="char-count" id="charNum" >500 / 500</sub>
  </div>
<% end %>
