<%= form_for(comment) do |f| %>
  <div class="errors">
    <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <div class="form-body">
    <%= f.text_area :text, onkeyup: "countChar(this)", onfocus: "countChar(this)", autofocus: "true"  %>
    <%= f.submit "Post", class: "post-button"%>
    <sub class="char-count" id="charNum" />
  </div>
<% end %>
