<nav id="nav">
  <div class="content">
    <h1><a href="/" tabindex="1"><%= t("vent.title") %></a></h1>
    <div class="languages">
      Languages:
      <%= link_to_unless_current "English", locale: "en" %> |
      <%= link_to_unless_current "Spanish", locale: "es" %> |
      <%= link_to_unless_current "Japanese", locale: "ja" %>
    </div>
  </div>
</nav>
