/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
@import 'vents';

body {
  margin: 0;
  padding-top: 20px;
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
  }
  p, sub {
    font-family: $font-body;
  }
}

a {
  text-decoration: none;
  color: white;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  background: $primary-color;
  width: 100%;
  h1 {
    margin: 0;
    padding: 10px 5%;
    color: white;
    font-size: 2em;
  }
}

.red-font {
  color: red;
}

footer {
  padding-bottom: 20px;
  text-align: center;
  p {
    font-size: .7em;
    margin: 0;
    color: gray;
    a {
      color: inherit;
      font-size: inherit;
    }
  }
}

#error_vent_text a {
  color: red;
}
