// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.container {
  margin: 50px 5%;
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  .left-block .form-body, .left-block .comment {
    width: 80%;
    max-width: 600px;
    min-width: 300px;
  }
  .left-block {
    width: 50%;
  }
  .right-block {
    max-width: 400px;
    min-width: 300px;
  }
}

textarea {
  width: 100%;
  height: 100px;
  &:hover {
    background: $hover-comment-color;
  }
}

input[type=submit] {
	box-sizing: content-box;
  width: 50px;
  height: 20px;
  border-radius: 2px;
  background: $primary-color;
  border: 1px solid gray;
  color: white;
  font-weight: 600;
  &:hover {
    background: $primary-color-dark;
  }
}

.char-count {
  margin-left: 10px;
}

.comment-index {
  padding: 0;
  list-style-type: none;
  .comment {
    border: 1px solid gray;
    padding: 10px 2px;
    &:hover {
      background: $hover-comment-color;
    }
    p {
      margin: 0;
      padding: 0 5px;
      word-wrap: break-word;
    }
    sub {
      margin: 5px;
      font-size: .7em;
      color: #8C867C;
    }
  }
}

.errors {
  color: red;
  font-size: .9em;
  ul {
    padding: 0;
    position: absolute;
    top: 70px;
    left: 30px;
  }
}

.field_with_errors, .form-body {
  margin: 0;
  display: block;
}

.field_with_errors textarea {
  border: 1px solid red;
}

@media (max-width: 1100px) {
  .content {
    .left-block .form-body, .left-block .comment {
      width: 95%;
      max-width: 600px;
      min-width: 300px;
    }
    .right-block, .left-block {
      width: 500px;
      min-width: 50%;
      max-width: 100%;
    }
  }
}
